<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </md-card-actions>
    </md-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <md-list>
    	<h3 md-header>Comments</h3>
        <md-list-item *ngFor="let item of dish.comments">
	    <div md-line>{{item.comment}}</div>
	    <div md-line>{{item.rating}} Stars</div>
	    <div md-line>--{{item.author}} {{item.date | date}}</div>
	  </md-list-item>
    <md-list-item *ngIf="!feedbackForm.invalid && !submitted">
      <div md-line>{{feedbackForm.value.comment}}</div>
      <div md-line>{{feedbackForm.value.rating}} Stars</div>
      <div md-line>--{{feedbackForm.value.author}}</div>
    </md-list-item>
	</md-list>

  <div class="form-size">
    <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <p>
      <md-input-container dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
        <input mdInput formControlName="author" placeholder="Name" type="text" required>
        <md-hint>
          <span [hidden]="!(formErrors.author)">
            {{formErrors.author}}</span>
        </md-hint>
      </md-input-container>
    </p>
    <p>
      <md-slider thumbLabel tickInterval="1" formControlName="rating" min="1" max="5" step="1" value="5"></md-slider>
    </p>
    <p>
      <md-input-container dividerColor="{{(formErrors.comment) ? 'warn' : 'primary'}}">
        <textarea mdInput formControlName="comment" rows="10" cols="50" required placeholder="Your Comment"></textarea>
        <md-hint>
          <span [hidden]="!(formErrors.comment)">
            {{formErrors.comment}}</span>
        </md-hint>
      </md-input-container>
    </p>
    <button type="submit" md-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
    </form>
  </div>
  </div>

  

  <div [hidden]="dish || errMess">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>